.container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    justify-content: space-between;
}

.container > button {
    background: #ffffff;
    margin-left: 15px;
}
.list {
    width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid #eeeeee;
    vertical-align: middle;
}
.task-name {
    padding-left: 20px;
    line-height: 32px;
    flex:8
}
.delete {
    flex:1;
}
.state-name {
    flex:1;
    margin-right: 20px;
}